.errorPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

    &__status {
        color: var(--black);
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 20px;

    }

    &__text {
        color: var(--black);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 69px;
    }

    &__backLink {
        color: var(--blue);
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
    }
}
