.dialog-card {
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    cursor: pointer;
    display: flex;
    padding: 12px 0;
    position: relative;
    
    &:hover {
        background: #E4EDFD;
    }

    &__image {
        border-radius: 50%;
        height: 47px;
        width: 47px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 47px;
        margin-left: 10px;
        margin-right: 20px;
        width: calc(100% - 47px - 25px - 10px - 20px);

        &__name {
            color: var(--black);
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            margin-bottom: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__addRemoveUser {
            display: flex;
            
            div:first-child {
                margin-right: 10px;
            }
        }
    }

    &__info {
        width: 25px;

        &__time {
            color: var(--gray);
            display: inline-block;
            font-size: 9px;
            font-style: normal;
            font-weight: 500;
            line-height: 13px;
            margin-bottom: 18px;
        }

        &__quantity {
            align-items: center;
            background: var(--blue);
            border-radius: 50%;
            color: var(--white);
            display: flex;
            ;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            height: 20px;
            justify-content: center;
            width: 20px;
        }
    }

    &__deleteChat {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
