.inputComponent {
    width: 100%;

    input {
        border: none;
        border-bottom: 1px solid var(--blue);
        height: 36px;
        outline: none;
        width: 100%;
    }
    
    span {
        color: var(--red);
        display: inline-block;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        margin-top: 4px;
        width: 100%;
    }
}
