.button-component {
    background: var(--blue);
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    height: 37px;
    margin-bottom: 14px;
    width: 100%;

    &:disabled {
        background-color: grey;
    }
}
