.container {
    display: flex;
    height: 100vh;

    &__buttonWithImageContainer {
        div {
            align-items: center;
            background: #FBFBFB;
            border-right: 1px solid #EAEAEA;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 64px;

            img {
                height: 28px;
                cursor: pointer;
                width: 28px;

            }
        }
    }

    &__profile {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        padding: 0 320px;

        &__imgContainer {
            height: 130px;
            margin-bottom: 21px;
            margin-top: 60px;
            position: relative;
            width: 130px;

            &__image {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

            &__hover {
                left: 0;
                position: absolute;
                top: 0;

                width: 100%;
                background: #000;
                height: 100%;

                border-radius: 50%;

                align-items: center;
                display: flex;
                justify-content: center;

                opacity: 0.5;
                cursor: pointer;
                visibility: hidden;
            }

            &:hover .container__profile__imgContainer__hover {
                visibility: visible;
            }

            &__input {
                visibility: hidden;

                &__btn {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    background: #1F81B9;
                    height: 46px;
                    width: 80%;

                    border-radius: 10px;

                    color: var(--white);
                    font-size: 14px;
                    outline: none;
                    text-decoration: none;
                    line-height: 22px;
                    text-align: center;
                    vertical-align: middle;

                    display: flex;
                    transition: background-color 0.2s;

                    align-items: center;
                    justify-content: center;
                }

                & input[type="file"] {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    height: 46px;
                    width: 80%;

                    display: block;
                    opacity: 0;
                    z-index: 5;
                }

                & input[type="file"]:focus+&__btn {
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 25%);
                }
            }

            &:hover .container__profile__imgContainer__input {
                visibility: visible;
            }
        }

        &__name {
            color: var(--black);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
        }

        &__formContainer {
            margin: 60px 0;
            width: 100%;

            &__profilePageForm {
                width: 100%;

                &__buttonsBlock {
                    padding-top: 50px;
                    margin: 0 auto;
                    width: 50%;

                    &__settings {
                        width: 100%;

                        &__changeData,
                        &__changePassword,
                        &__exit {
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                        }

                        &__changeData,
                        &__changePassword {
                            border-bottom: 1px solid#EAEAEA;
                            color: var(--blue);
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                        }

                        &__exit {
                            color: #F00;
                        }

                        &__buttonExitWrapper {
                            div {
                                border: none;

                                color: #F00;
                            }
                        }
                    }
                }
            }
        }
    }
}
