<div class="{{style.popup-message-component}}">
    <form>
        <label {{#if options.empty}} style="display: none" {{/if}}>{{options.label}}</label>
        <div {{#if options.empty}} style="display: none" {{/if}}>
            {{{popupInput}}}
        </div>
        {{{confirmButton}}}
    </form>
</div>
