.popup-messageComponent {
    height: 20%;
    width: 20%;
    background-color: white;
    padding: 40px;
    form {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
