.container {
    display: flex;
    height: 100vh;

    &__backTo {
        align-items: center;
        background: #FBFBFB;
        border-right: 1px solid #EAEAEA;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 64px;

        img {
            height: 28px;
            width: 28px;
        }
    }

    &__profile {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        padding: 0 320px;

        &__imgContainer {
            height: 130px;
            margin-bottom: 21px;
            margin-top: 60px;
            position: relative;
            width: 130px;

            &:hover .container__profile__imgContainer__hover {
                visibility: visible;
            }

            &__hover {
                align-items: center;
                background: #000;
                border-radius: 50%;
                display: flex;
                height: 130px;
                justify-content: center;
                left: 0;
                opacity: 0.5;
                position: absolute;
                top: 0;
                visibility: hidden;
                width: 130px;

                span {
                    color: var(--white);
                    display: inline-block;
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    text-align: center;
                    width: 50%;
                    z-index: 2;
                }
            }
        }

        &__name {
            color: var(--black);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
        }

        &__formContainer {
            margin: 60px 0;
            width: 100%;
        }

        &__settings {
            width: 100%;

            &__changeData,
            &__changePassword,
            &__exit {
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
            }

            &__changeData,
            &__changePassword {
                border-bottom: 1px solid#EAEAEA;
                color: var(--blue);
                margin-bottom: 10px;
                padding-bottom: 10px;
            }

            &__exit {
                color: #F00;
            }
        }

        &__buttonContainer {
            width: 30%;
        }
    }
}
