.container {
    position: relative;

    height: 100vh;

    display: flex;

    &__leftPart {
        width: 15%;
        height: 100%;
        padding: 21px 10px 0;
        box-sizing: border-box;

        background: #FBFBFB;
        border-right: 1px solid #EAEAEA;

        overflow-y: auto;

        &__bakToProfile {
            margin-bottom: 23px;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            &__text {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;

                color: var(--gray);

                cursor: pointer;

                display: flex;
                align-items: center;

                img {
                    margin-left: 20px;
                }

                &__id {
                    margin-right: 20px;
                }
            }

            &__button {
                width: 8px;
                height: 8px;
            }
        }

        &__inputSearch {
            width: 100%;
            height: 32px;
            margin-bottom: 14px;

            background: #EFEFEF;
            border-radius: 5px;

            outline: none;
            border: none;
        }
    }

    &__rightPart {
        width: 85%;
        height: 100%;

        &__unselectedDialog {
            height: 100%;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: var(--gray);

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__dialog {
            position: relative;
        
            padding: 10px 20px 0 20px;
        
            &__header {
                height: 54px;
                padding: 10px 0;
                box-sizing: border-box;
        
                display: flex;
                justify-content: space-between;
        
                &__profile {
                    height: 100%;
                    display: flex;
                    align-items: center;
        
                    &__img {
                        height: 100%;
                        width: 34px;
                        margin-right: 10px;
        
                        border-radius: 50%;
        
                        background: #EFEFEF;
                    }
        
                    &__name {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
        
                        color: var(--black);
                    }
                }
        
                &__actions {
                    position: relative;
        
                    margin-right: 11px;
        
                    display: flex;
                    align-items: center;
        
                    &:hover {
                        .dialog__header__actions__dropDownList {
                            visibility: visible;
                        }
                    }
        
                    img {
                        width: 15px;
                        height: 15px;
                    }
        
                    &__dropDownList {
                        position: absolute;
                        bottom: -110px;
                        right: 0;
        
                        width: 210px;
                        height: 90px;
        
                        background: var(--white);
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
                        border-radius: 12px;
        
                        z-index: 2;
        
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
        
                        p {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            color: var(--black);
                        }
        
                        &__addUser,
                        &__removeUser {
                            display: flex;
                            align-items: center;
        
                            img {
                                height: 22px;
                                margin: 0 15px;
                            }
                        }
                    }
                }
            }
        
            &__content {
                height: calc(100% - 54px - 54px - 48px - 30px - 10px - 2px);
                padding-top: 48px;
                padding-bottom: 30px;
        
                border-top: 1px solid #EAEAEA;
                border-bottom: 1px solid #EAEAEA;
        
                overflow-y: auto;        
            }
        
            &__messageSend {
                height: 60px;
                padding: 11px 0;
                box-sizing: border-box;
        
                display: flex;
                justify-content: space-between;

                button {
                    width: 20%;
                    height: 100%;
                }

                input {
                    width: 90%;
                    height: 100%;
                    padding: 10px 20px;
                    margin-right: 20px;
                    
                    background: #EFEFEF;
                    border-radius: 30px;
                    border: none;
                    outline: none;        
                }
        
                &__files {
                    height: 100%;
                    width: 32px;
                    margin-right: 12px;
                }
        
                &__buttonSend {
                    margin-left: 10px;
                }
        
                &__dropDownListContainer {
                    position: relative;
        
                    &:hover {
                        .dialog__messageSend__dropDownListContainer__dropDownList {
                            visibility: visible;
                        }
                    }
        
                    &__dropDownList {
                        position: absolute;
                        top: -152px;
                        left: 0;
        
                        width: 162px;
                        height: 128px;
        
                        background: var(--white);
                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
                        border-radius: 12px;
        
                        // visibility: hidden;
                        z-index: 2;
        
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
        
                        p {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            color: var(--black);
                        }
        
                        &__photoVideo,
                        &__file,
                        &__location {
                            display: flex;
                            align-items: center;
        
                            img {
                                height: 22px;
                                margin: 0 15px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
