.container {
    display: flex;
    height: 100vh;
    position: relative;

    &__leftPart {
        background: #FBFBFB;
        border-right: 1px solid #EAEAEA;
        box-sizing: border-box;
        height: 100%;
        overflow-y: auto;
        padding: 21px 10px 0;
        width: 15%;

        &__bakToProfile {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 23px;

            &__text {
                align-items: center;
                color: var(--gray);
                cursor: pointer;
                display: flex;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;

                img {
                    margin-left: 20px;
                }

                &__id {
                    margin-right: 20px;
                }
            }

            &__button {
                height: 8px;
                width: 8px;
            }
        }

        &__inputSearch {
            background: #EFEFEF;
            border: none;
            border-radius: 5px;
            height: 32px;
            margin-bottom: 14px;
            outline: none;
            width: 100%;
        }
    }

    &__rightPart {
        height: 100%;
        width: 85%;

        &__unselectedDialog {
            align-items: center;
            color: var(--gray);
            display: flex;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            height: 100%;
            justify-content: center;
        }

        &__dialog {
            padding: 10px 20px 0;
            position: relative;
        
            &__header {
                box-sizing: border-box;
                display: flex;
                height: 54px;
                justify-content: space-between;
                padding: 10px 0;
        
                &__profile {
                    align-items: center;
                    display: flex;
                    height: 100%;
        
                    &__img {
                        background: #EFEFEF;
                        border-radius: 50%;
                        height: 100%;
                        margin-right: 10px;
                        width: 34px;
                    }
        
                    &__name {
                        color: var(--black);
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }
        
                &__actions {
                    align-items: center;
                    display: flex;
                    margin-right: 11px;
                    position: relative;
        
                    &:hover {
                        .dialog-header-actions-drop-down-list {
                            visibility: visible;
                        }
                    }
        
                    img {
                        height: 15px;
                        width: 15px;
                    }
        
                    &__dropDownList {
                        background: var(--white);
                        border-radius: 12px;
                        bottom: -110px;
                        box-shadow: 0 0 6px rgb(0 0 0 / 14%);
                        display: flex;
                        flex-direction: column;
                        height: 90px;
                        justify-content: space-around;
                        position: absolute;
                        right: 0;
                        width: 210px;
                        z-index: 2;
        
                        p {
                            color: var(--black);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                        }
        
                        &__addUser,
                        &__removeUser {
                            align-items: center;
                            display: flex;
        
                            img {
                                height: 22px;
                                margin: 0 15px;
                            }
                        }
                    }
                }
            }
        
            &__content {
                border-bottom: 1px solid #EAEAEA;
                border-top: 1px solid #EAEAEA;
                height: calc(100% - 54px - 54px - 48px - 30px - 10px - 2px);
                overflow-y: auto;
                padding-bottom: 30px;
                padding-top: 48px;        
            }
        
            &__messageSend {
                box-sizing: border-box;
                display: flex;
                height: 60px;
                justify-content: space-between;
                padding: 11px 0;

                button {
                    height: 100%;
                    width: 20%;
                }

                input {
                    background: #EFEFEF;
                    border: none;
                    border-radius: 30px;
                    height: 100%;
                    margin-right: 20px;
                    outline: none;
                    padding: 10px 20px;
                    width: 90%;        
                }
        
                &__files {
                    height: 100%;
                    margin-right: 12px;
                    width: 32px;
                }
        
                &__buttonSend {
                    margin-left: 10px;
                }
        
                &__dropDownListContainer {
                    position: relative;
        
                    &:hover {
                        .dialog-message-send-drop-down-list-container-drop-downist {
                            visibility: visible;
                        }
                    }
        
                    &__dropDownList {
                        background: var(--white);
                        border-radius: 12px;
                        box-shadow: 0 0 6px rgb(0 0 0 / 14%);
                        display: flex;
                        flex-direction: column;
                        height: 128px;
                        justify-content: space-around;
                        left: 0;
                        position: absolute;
                        top: -152px;
                        width: 162px;
                        z-index: 2;
        
                        p {
                            color: var(--black);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                        }
        
                        &__photoVideo,
                        &__file,
                        &__location {
                            align-items: center;
                            display: flex;
        
                            img {
                                height: 22px;
                                margin: 0 15px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
