.profilePagePopup {
    align-items: center;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 257px;
    left: 50%;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;

    &__action {
        color: var(--black);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 50px;
        margin-top: 40px;
    }

    &__actionError {
        color: var(--red);
    }

    &__link {
        color: var(--blue);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 45px;
        text-decoration-line: underline;
    }

    &__span {
        color: #8D8D8D;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 45px;
    }

    &__needToChooseFile {
        color: var(--red);
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        margin-top: 0;
    }
}
