.profilePageInput {
    border-bottom: 1px solid#EAEAEA;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    &:not(:last-of-type) {
        margin-bottom: 10px;
    }

    label {
        color: var(--black);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
    }

    input {
        border: none;
        color: var(--gray);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        outline: none;
        text-align: right;
    }
}
