body {
  margin: 0;
  padding: 0;
}

:root {
  --red: #FF2F2F;
  --blue: #3369F3;
  --white: #FFF;
  --gray: #999;
  --black: #1E1E1E;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 10%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}
