.dialog__content__date {
    margin-top: 0;
    margin-bottom: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--gray);
}
