.dialog__content__date {
    color: var(--gray);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
}
