<div class="errorPage">
    <h1 class="errorPage__status">{{status}}</h1>
    <p class="errorPage__text">{{message}}</p>

    <a class="errorPage__backLink" href="/src/pages/dialogs/dialogs.hbs">Назад к чатам</a>
</div>
